.mx_DefaultWelcome.mx_ConferenceWelcome {
    h1 {
        margin-bottom: var(--cpd-space-4x);
    }

    .mx_ConferenceWelcome_content {
        max-width: 48ch;
        text-align: left;
    }

    .mx_DefaultWelcome_buttons {
        border-bottom: unset;

        a {
            min-width: max-content;
            width: unset;
        }
    }

    .mx_DefaultWelcome_logo img {
        height: 8rem;
    }
}
