extends ../components/base

block content
  .page
    a(href="https://seagl.org/" rel="noopener noreferrer" target="_blank")
      img(alt="SeaGL" src="../assets/seagl-logo.svg" style="height: 8rem;width: auto;")

    :markdown-it
      # SeaGL 2024

      Welcome to SeaGL 2024!

      Our [Code of Conduct](https://seagl.org/code_of_conduct) is in effect in all SeaGL spaces.

      ## Keynotes

      | | |
      |-:|:-|
      | Fri 9:10 | [Aaron Wolf](https://pretalx.seagl.org/2024/talk/TLTGUG/)|
      | Fri 9:40 | [Christopher Neugebauer](https://pretalx.seagl.org/2024/talk/J8HLAP/)|
      | Sat 16:10 | [Rachel Kelly](https://pretalx.seagl.org/2024/talk/MAZDSY/)|
      | Sat 16:40 | [Duane O’Brien](https://pretalx.seagl.org/2024/talk/QVGUKW/)|

      ## Performance Events

      | | |
      |-:|:-|
      | Fri 11:30 | An open source music concert: [GNU/Linux Loves All](https://pretalx.seagl.org/2024/talk/GHKKZA/)|

      ## Special Events

      | | |
      |-:|:-|
      | Fri 15:30–16:30<br>and Sat 15:00–16:00 | Relax with a cuppa delicious, and not so common tea, each afternoon at TeaGL |
      | Sat 17:20–19:00 | Enjoy an evening of post-conference socializing |
      | Sat 17:30–18:30 | Give your public speaking skills a shot with [presentation roulette](https://pretalx.seagl.org/2024/talk/EQXCUM/) |

      [Full Schedule](https://pretalx.seagl.org/2024/schedule/)
