extends ../components/base

block content
  .page
    a(href="https://seagl.org/" rel="noopener noreferrer" target="_blank")
      img(alt="SeaGL" src="../assets/seagl-logo.svg" style="height: 8rem;width: auto;")

    :markdown-it
      # SeaGL 2023

      Welcome to SeaGL 2023!

      Our [Code of Conduct](https://seagl.org/code_of_conduct) is in effect in all SeaGL spaces.

      ## Keynotes

      | | |
      |-:|:-|
      | Fri 9:10 | [Deb Nicholson ](https://osem.seagl.org/conferences/seagl2023/program/proposals/1016)|
      | Fri 9:40 | [Sri Ramkrishna](https://osem.seagl.org/conferences/seagl2023/program/proposals/1017)|
      | Sat 9:10 | [Hong Phuc Dang](https://osem.seagl.org/conferences/seagl2023/program/proposals/1015)|
      | Sat 9:40 | [Kaylea Champion ](https://osem.seagl.org/conferences/seagl2023/program/proposals/1014)|

      ## Social Events

      | | |
      |-:|:-|
      | Fri 15:40 | [TeaGL](https://osem.seagl.org/conferences/seagl2023/program/proposals/1013) |
      | Fri 17:30 | [Blender Movie Night](https://osem.seagl.org/conferences/seagl2023/program/proposals/1011) |
      | Sat 18:00 | [Trivia](https://osem.seagl.org/conferences/seagl2023/program/proposals/1012) |

      [Full Schedule](https://osem.seagl.org/conferences/seagl2023/schedule/events)
