extends ../components/base

block content
  .page
    a(href="https://seagl.org/" rel="noopener noreferrer" target="_blank")
      img(alt="SeaGL" src="../assets/seagl-logo.svg" style="height: 8rem;width: auto;")

    :markdown-it
      # SeaGL 2022

      Welcome to SeaGL 2022!

      Our [Code of Conduct](https://seagl.org/code_of_conduct) is in effect in all SeaGL 2022 spaces.

      ## Keynotes

      | | |
      |:-|:-|
      | Fri 09:10 | [Aeva Black](https://osem.seagl.org/conferences/seagl2022/program/proposals/921)|
      | Fri 16:30 | [Ernie Smith](https://osem.seagl.org/conferences/seagl2022/program/proposals/920)|
      | Sat 09:30 | [Lorena Mesa](https://osem.seagl.org/conferences/seagl2022/program/proposals/922)|
      | Sat 16:30 | [Sumana Harihareswara](https://osem.seagl.org/conferences/seagl2022/program/proposals/919)|

      [Full Schedule](https://osem.seagl.org/conferences/seagl2022/schedule/events)

      ## Social Events

      | | |
      |:-|:-|
      | Fri 15:00 | [Afternoon TeaGL](https://osem.seagl.org/conferences/seagl2022/program/proposals/923) |
      | Fri 17:30 | [Afternoon Trivia](https://osem.seagl.org/conferences/seagl2022/program/proposals/924) |
      | Sat 12:10 | [No-Cook Lunch Hour](https://osem.seagl.org/conferences/seagl2022/program/proposals/926) |
      | Sat 17:30 | [Evening *tails](https://osem.seagl.org/conferences/seagl2022/program/proposals/925) |

      Join via video in *Hallway → Social* at any time.
